.google-logo {
  padding-top: 112px;
  padding-bottom: 30px;
  height: 92px;
  width: 272px;
}

.top-row {
  text-align: left;
  font: small arial,sans-serif;
}

.top-text {
  padding: 0px 5px 0px 5px;
}